/config/console-local.php
/config/db-local.php
/config/params-local.php
/config/web-local.php

/docker/mysql
/docker/nginx/logs

/.git
/.idea

/.phpunit.result.cache
/phpunit.xml
/phpstan/
/phplint/
/public/assets/

tests/_output/*
tests/_support/_generated

/var/
/vendor/
